.topbar{
    width: 100%;
    height: 50px;
    background-color: rgb(227, 227, 230);
    position: sticky;
    top: 0;
    z-index: 999;
   
}
.topbarWrapper{
   height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
/* .topLeft{
    display: flex;
     align-items: center;
}
.img{
    width: 50%;
    height:80px;
   
} */
.logo{
    font-weight:bold;
    font-size: 20px;
    color: rgb(68, 153, 192);
    cursor: pointer;
}
.topRight{
    display: flex;
    align-items:center;
   
}

.topbarIcons{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}
.topbarIcons:hover{
    color: rgb(40, 46, 44);
}
.topBadge{
  position: absolute;
    top: 11px;
    right: 1px;
    background-color: rgb(248, 7, 7);
    color: white;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;

}
.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}