.produit {
  flex: 4;
}
.produittitre {
  text-align: center;
  margin: 35px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.iconproduit {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 3px;
  transform: scale(2);
}

.table {
  margin-left: 20px;
}
#headerName {
  color: aqua;
}
.produitajout {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.produitdelete {
  color: rgb(216, 92, 92);
cursor: pointer;  
}
.newproduitButton{
    width: 300px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    margin-left: 70%;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

